body {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: #F55A5A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 10px;
}

header > span {
    color: white;
    font-size: 1.3rem;
}

section {
    padding: 25px 30px;
    height: 168px;
    display: flex;
    flex-direction: row;
    border: 2px solid gray ;
    border-radius: 6px;
    margin-bottom: 36px;
}

.image-container {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 5px;
}
.main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;    
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.location-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     
     
}
.marker {
    height: 20px;
}
.location-container > span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.location-container > a {
    font-size: 12px;
     margin-left: 10px;
     color: lightgray;
}

.text-container > h2 {
    font-size: 30px;
 
    padding: 0;
    margin: 8px 0 0 0 ;
}

.text-container > h4 {
    font-size: 12px;
    margin: 14px 0 0 0 ;
    padding: 0;
}

.text-container > p {
    font-size: 12px;
    margin: 6px 0 0 0 ;
    padding: 0;
    overflow: hidden;
}